.endpoint-interaction {
  /*Placeholder*/
}

.endpoint-general-error {
  /*Placeholder*/
}

.endpoint-output {
  /*Placeholder*/
  &-results {
    /*Placeholder*/
    &-title {
      /*Placeholder*/
    }
    &-string {
      /*Placeholder*/
    }
    &-code {
      /*Placeholder*/
    }
  }
}

.endpoint-input {
  /*Placeholder*/
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.endpoint-action-wrapper {
  /*Placeholder*/
}

.button-add-argument {
  /*Placeholder*/
}
.button-remove-argument {
  /*Placeholder*/
}
.button-endpoint-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.endpoint-owner-notification {
  /*Placeholder*/
  &-icon {
    /*Placeholder*/
  }
  &-text {
    /*Placeholder*/
  }
  &-address {
    /*Placeholder*/
  }
}
