.button {
  /*Placeholder*/
  &-primary {
    /*Placeholder*/
  }
  &-secondary {
    /*Placeholder*/
  }
  &-unstyled {
    /*Placeholder*/
  }
  &-action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
