.input {
  /*Placeholder*/
}
.select {
  /*Placeholder*/
}
.label {
  /*Placeholder*/
}
.input-invalid {
  /*Placeholder*/
}
.input-invalid-feedback {
  /*Placeholder*/
}
.input-info {
  /*Placeholder*/
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.input-group {
  /*Placeholder*/
  &-prepend,
  &-append {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &-icon {
      /*Placeholder*/
    }
  }
}
.general-error {
  /*Placeholder*/
}
.general-warning {
  /*Placeholder*/
}
