.panel {
  display: flex;
  &-mode {
    /*Placeholder*/
  }
  &-name {
    /*Placeholder*/
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 0.5rem;
  }
  &-content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    &-row {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.about-panel {
  /*Placeholder*/
  &-content {
    /*Placeholder*/
  }
}
