.endpoint-interaction {
  /*Placeholder*/
}

.endpoint-output {
  /*Placeholder*/
  &-results {
    /*Placeholder*/
    &-title {
      /*Placeholder*/
    }
    &-string {
      /*Placeholder*/
    }
    &-code {
      /*Placeholder*/
    }
  }
}

.endpoint-input {
  /*Placeholder*/
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.button-add-argument {
  /*Placeholder*/
}
.button-remove-argument {
  /*Placeholder*/
}
