.button-login {
  /*Placeholder*/
}
.button-logout {
  /*Placeholder*/
}

.disconnected-wrapper,
.login-button-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &-text {
    /*Placeholder*/
  }
}

.connected-wrapper {
  display: flex;
  align-items: center;
}
