.contract-endpoints {
  /*Placeholder*/
  &-list {
    /*Placeholder*/
    &-item {
      /*Placeholder*/
    }
  }
}

.contract-endpoint-wrapper {
  /*Placeholder*/
  .contract-endpoint {
    /*Placeholder*/
  }
  .endpoint-general-error {
    /*Placeholder*/
  }
  .button-endpoint-action {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
