.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2022;
  bottom: 0;
  padding: 1.5rem;

  &:before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    opacity: 0.75;
    position: absolute;
  }
}
