.endpoint-input {
  /*Placeholder*/
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.button-add-argument {
  /*Placeholder*/
}
.button-remove-argument {
  /*Placeholder*/
}
